body {
    background-color: blue;
}

.css-classes {
    background-color: lightgray;
}

.css-classes h1 {
    font-size: 18px;
}

.css-classes p {
    font-size: 16px;
    color: green;
}

.css-classes li {
    color: navy;
}