h1 {
    color: lightgreen;
    text-align: center;
}

h3 {
    color: blue;
}

p {
    color: red;
}

.truthlie {
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    background-color: lightgrey;
    text-align: center;
}

#statement1 {
    border: 5px;
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
    width: 30vw;
    display: inline-block;
}

#statement2 {
    border: 5px;
    border-style: solid;
    border-color: yellow;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
    width: 30vw;
    display: inline-block;
}

#statement3 {
    border: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
    width: 30vw;
    display: inline-block;
}